* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-top: 20px;
}

h1,
nav,
legend,
.submitButton {
    font-family: 'Playfair Display', serif;
}

section {
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.outputContainer {
    font-size: 50px;
    font-weight: bold;
}

.alert {
    margin-top: 20px;
}

.error {
    color: #e60000;
}

/*----------------------------------------------------
Nav bar
-----------------------------------------------------*/
nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li {
    text-transform: uppercase;
}

nav ul li a:link {
    text-decoration: none;
}

nav ul li a:hover {
    color: #e67300;
}


/*----------------------------------------------------
Login Page
-----------------------------------------------------*/
.loginContainer {
    display: grid;
    justify-items: center;
    align-items: center;
}

.loginRow1Col1 {
    text-align: center;
}

.loginContainer .row2col1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.loginContainer .row2col2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.loginContainer .row2col3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.loginContainer .row3col1 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: span 3;
}

/*----------------------------------------------------
Register Page
-----------------------------------------------------*/
.registerContainer {
    display: grid;
    grid-row-gap: 15px;
    justify-items: center;
    align-items: center;
}

.registerRow1Col1 {
    text-align: center;
}

.registerContainer .row2col1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.registerContainer .row2col2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.registerContainer .row3col1 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.registerContainer .row4col1 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.registerContainer .row5col1 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.registerContainer .row6col1 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: span 2;
}